
.error-container
{
    margin-top: 100px;
    height: 500px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.text-placement
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picture_error
{
    width: 597px;
    height: 263px;
    margin-bottom: 100px;
}
.error-placement
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error-text
{
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 36px;
    font-family: Montserrat;
    color: #FF6060;
}
.error-back
{
    margin-top: -300px;
    font-weight: 500;
    font-size: 18px;
    font-family: Montserrat;
    color: #FF6060;
    text-decoration: underline;
}
.containerBack
{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width:700px)
{
    .picture_error
    {
        width: 198px;
        height: 99px;
        margin-bottom: 100px;
    }
    .error-text
    {
        font-weight: 500;
        font-size: 18px;
        font-family: Montserrat;
        color: #FF6060;
    }
    .error-back
    {
        margin-top: -300px;
        font-weight: 500;
        font-size: 14px;
        font-family: Montserrat;
        color: #FF6060;
    }
    .text-placement
    {
        width: 260px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}