@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.App-header
{
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.logementPicture
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.picture_logement
{
    z-index: 1;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}
.containerPictureChevron
{
    position: relative;
    display: block;
    width: 1240px;
    height: 415px;
    object-fit: cover;
}
.containersTitle
{
    align-items: center;
    flex-wrap: wrap;
}

.nbrIndex
{ 
  position: absolute;
  top: 32rem;
}
.nbrOfPicture
{
    z-index: 2;
    width: 20px;
    color: white;

}
.titleLogement
{
    font-size: 36px;
    color: #FF6060;
    font-family: Montserrat;
}
.locationLogement
{
    font-size: 18px;
    color: #FF6060;
    font-family: Montserrat;
}
.namePlacement
{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.nameOfHost{
    font-size: 18px;
    color: #FF6060;
    font-family: Montserrat;
}
.sizePicture
{
    margin-left: 10px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.containerTagsStar
{

    display: flex;

}
.containerTags
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.containerTagsStars
{
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tags
{
    height: 25px;
    width: 115px;
    background-color: #FF6060;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 20px;
}
.tagsfont
{
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.iconStarsRed
{
    color: #FF6060;
    width: 30px;
    height: 30px;
}
.iconStarsWhite
{
    color: #E3E3E3;
    width: 30px;
    height: 30px;
}

.containerChevrontNext
{

    width: auto;
    height: auto;
    position: absolute;
    top: 11rem;
    right: 5rem;
}
.containerChevrontBack
{
    height: auto;
    width: auto;
    position: absolute;
    top: 11rem;
    display: flex;
    left:4rem;
}
.chevronNext
{
    color: #FFFFFF;
    width: 46.68px;
    height: 79.2px;
}
.chevronBack
{
    color: #FFFFFF;
    width: 46.68px;
    height: 79.2px;
}
.containerDescription
{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}

.descriptionContain
{
    width: 1240px;
    display: flex;
    justify-content: space-between;
}
.containersEquipement
{
    width:50%;
}
.containerEquipement
{
    display: flex;
    z-index: 2;
    max-width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rectangle
{
    z-index: 2;
    max-width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textDescription
{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-left: 20px;
}
.containerResume
{
    z-index: 1;
    max-width: 100%;
    background-color: #F6F6F6;
    margin-top: -10px;
}
.textOfResume
{
    color: #FF6060;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 22px;
    margin: 30px;
    
}
.textOfResumeEquip
{
    color: #FF6060;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 22px;
    margin: 30px;
    line-height: 2px;
}
.containersRectangle
{
    width: 50%;
    margin-right: 40px;

}
.containerRectangle
{
    display: flex;
    z-index: 2;
    max-width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerOwner
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerStars
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.logementTitle
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.ContainerlogementTitle
{
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.stars{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width:1198px)
{
    .namePlacement
    {
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        
        display: flex;
        justify-content: space-between;
    }
    .containerTagsStar
    {
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
}

@media all and (max-width:800px)
{
    .descriptionContain
    {
        display: flex;
        flex-direction: column;
    }
    .containersRectangle
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .containersEquipement
    {
        width:100%;

    }
}
@media all and (max-width:700px)
{
    .containerTagsStar
    {
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .titleLogement
    {
        margin-bottom: 10px;
        font-size: 18px;
        color: #FF6060;
        font-family: Montserrat;
    }
    .locationLogement
    {
        font-size: 14px;
        color: #FF6060;
        font-family: Montserrat;
    }
    .tagsfont
    {
        color: white;
        font-size: 10px;
        font-family: Montserrat;
    }
    .nameOfHost{
        font-size: 12px;
        color: #FF6060;
        font-family: Montserrat;
    }
    .iconStarsRed
    {
        color: #FF6060;
        width: 15px;
        height: 15px;
    }
    .iconStarsWhite
    {
        color: #E3E3E3;
        width: 15px;
        height: 15px;
    }
    .picture_logement
    {
        width: 100%;
        height: 255px;
        border-radius: 25px;
        object-fit: cover;
    }
    .containerPictureChevron
    {
        width: 100%;
        height: 255px;
        object-fit: cover;
        display: block;
    }
    .logementTitle
    {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .containerDescription
    {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;

    }
    .logementPicture
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .tags
    {
        height: 25px;
        width: 84px;
        background-color: #FF6060;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .containerChevrontNext
    {
        width: auto;
        height: auto;
        position: absolute;
        top:8rem;
        right: 1rem;
    }
    .containerChevrontBack
    {
        height: auto;
        width: auto;
        left: 1rem;
        position: absolute;
        top:8rem;
    }

    .chevronNext
    {
        color: #FFFFFF;
        width: 11.67.68px;
        height: 19.8px;
       
    }
    .nbrIndex
    { 
        position: absolute;
        top: 36rem;
        margin-top: -285px;
    }
    .chevronBack
    {
        color: #FFFFFF;

        width: 11.67.68px;
        height: 19.8px;
        
    }  
    .sizePicture
    {
        margin-left: 10px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
    .nameOfHost{
        width: 45px;
        font-size: 12px;
        color: #FF6060;
        font-family: Montserrat;
    }
    .containerTagsStars
    {
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media all and (max-width:576px)
{
    .nbrIndex
    {
        display: none;
    }
}